<%- include ('partials/header') %>
<main id="content" role="main">
    <!-- Breadcrumb Section -->
    <div class="bg-primary">
        <div class="container space-top-1 pb-3">
            <div class="row">
                <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                    <div
                        class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                        <!-- Breadcrumb -->
                        <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                            <li class="breadcrumb-item">
                                <a class="breadcrumb-link" href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="breadcrumb-link" href="/super/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Posts
                            </li>
                        </ol>
                        <!-- End Breadcrumb -->

                        <!-- Breadcrumb Nav Toggle Button -->
                        <div class="d-lg-none">
                            <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation" aria-expanded="false" aria-controls="breadcrumbNavBar"
                                data-toggle="collapse" data-target="#breadcrumbNavBar">
                                <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                    <span class="u-hamburger__inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- End Breadcrumb Nav Toggle Button -->
                    </div>
                </div>

                <div class="col-lg-7 order-lg-1">
                    <!-- User Info -->
                    <div class="media d-block d-sm-flex align-items-sm-center">
                        <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
                            <img class="img-fluid rounded-circle" src="<%= user.pic %>" alt="Image Description" />
                            <span
                                class="badge badge-md badge-outline-success badge-pos badge-pos--bottom-right rounded-circle">
                                <span class="fas fa-check"></span>
                            </span>
                        </div>
                        <div class="media-body">
                            <h1 class="h3 text-white font-weight-medium mb-1">
                                <%= user.name %>
                            </h1>
                            <span class="d-block text-white-70"><i class="fas fa-at" style="margin-right:0.3em;"></i><%=
                user.email %></span>
                            <span class="d-block text-white-70"><i class="fas fa-code-branch"
                                    style="margin-right:0.3em;"></i><%= user._id %></span>
                        </div>
                    </div>
                    <!-- End User Info -->
                </div>
            </div>
        </div>

        <div class="container space-bottom-1 space-bottom-lg-0">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <!-- Navbar -->

                <!-- End Navbar -->


                <div class="ml-lg-auto pb-4">
                    <!-- Button -->
                    <a class="btn btn-sm btn-white text-nowrap transition-3d-hover disabled" disabled
                        href="/super/prima/new" data-modal-target="#requestPaymentModal">
                        <i class="fas fa-plus" style="margin-right:0.4em;"></i>Aggiungi Post Consigliato <span
                            class="badge badge-secondary">Coming Soon</span>
                    </a>
                    <!-- End Button -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Section -->
    <div class="bg-light">
        <div class="container space-2">

            <%- messages('message', locals) %>

            <h2 class="h2 mb-4">Prima Pagina</h2>
            <p>Associa ciascuno degli spazi in prima pagina all'ID di un post per attivare i contenuti</p>
            <p>ID Univoco disponibile nelle pagina di modifica post ai
                livelli <strong><i class="fas fa-laptop-code"></i> SuperUser</strong> e <strong> <i
                        class="fas fa-crown mr-1"></i>King</strong></p>
            <hr class="my-6">

            <form action="/super/prima" method="POST">
                <div class="form-group">
                    <label for="cover">POST #1</label>
                    <div class="js-focus-state input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-code-branch"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="5e1c48b3bd764d2d98bb61b8"
                            aria-label="Disabled">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="searchButtonExample2">
                                <span class="fas fa-edit"></span> Aggiorna
                            </button>
                        </div>
                    </div>
            </form>

        </div>
        <div class="form-group mt-2">
            <label for="cover">POST #2</label>
            <div class="js-focus-state input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-code-branch"></i>
                    </span>
                </div>
                <input type="hidden" name="n" value="0">
                <input type="text" class="form-control" name="id" placeholder="5e1c48b3bd764d2d98bb61b8"
                    aria-label="Disabled">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="searchButtonExample2">
                        <span class="fas fa-edit"></span> Aggiorna
                    </button>
                </div>
            </div>

        </div>
        <div class="form-group mt-2">
            <label for="cover">POST #3</label>
            <div class="js-focus-state input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-code-branch"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="5e1c48b3bd764d2d98bb61b8" aria-label="Disabled">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="searchButtonExample2">
                        <span class="fas fa-edit"></span> Aggiorna
                    </button>
                </div>
            </div>

        </div>

    </div>
    </div>
    </div>

</main>
<%- include ('partials/footer') %>