<%- include ('partials/header') %>
<main id="content" role="main">
  <!-- Breadcrumb Section -->
  <div class="bg-primary">
    <div class="container space-top-1 pb-3">
      <div class="row">
        <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
          <div
            class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="/">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="/admin/dashboard">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="/admin/posts">Posts</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Scrivi un Post
              </li>
            </ol>
            <!-- End Breadcrumb -->

            <!-- Breadcrumb Nav Toggle Button -->
            <div class="d-lg-none">
              <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                aria-label="Toggle navigation" aria-expanded="false" aria-controls="breadcrumbNavBar"
                data-toggle="collapse" data-target="#breadcrumbNavBar">
                <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                  <span class="u-hamburger__inner"></span>
                </span>
              </button>
            </div>
            <!-- End Breadcrumb Nav Toggle Button -->
          </div>
        </div>

        <div class="col-lg-7 order-lg-1">
          <!-- User Info -->
          <div class="media d-block d-sm-flex align-items-sm-center">
            <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
              <img class="img-fluid rounded-circle" src="<%= user.pic %>" alt="Image Description" />
              <span class="badge badge-md badge-outline-success badge-pos badge-pos--bottom-right rounded-circle">
                <span class="fas fa-check"></span>
              </span>
            </div>
            <div class="media-body">
              <h1 class="h3 text-white font-weight-medium mb-1">
                <%= user.name %>
              </h1>
              <span class="d-block text-white-70"><i class="fas fa-at" style="margin-right:0.3em;"></i><%=
                user.email %></span>
              <span class="d-block text-white-70"><i class="fas fa-code-branch"
                  style="margin-right:0.3em;"></i><%= user._id %></span>
            </div>
          </div>
          <!-- End User Info -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <form action="/admin/posts/new" method="POST" id="post_create">
    <div class="bg-light">
      <div class="container space-2">
        <div class="form-group">
          <label for="title">Titolo</label>
          <input type="text" class="form-control" id="title" name="title"
            placeholder="Inserisci il titolo dell'articolo..." />
          <small id="titleHelp" class="form-text text-muted">Questo titolo sarà visualizzato sulle pagine delle rubriche
            e sulla
            pagina dell'articolo con un carattere di dimensioni maggiori</small>
        </div>
        <hr class="my-5">
        <div class="alert alert-warning mb-3 text-justify" role="alert">
          <strong> <i class="fas fa-code mr-2"></i> Caricamento Immagini | In via di Sviluppo
          </strong>
          <hr>
          Abbiamo appena implementato la nuova funzionalità di caricamento delle immagini direttamente dal tuo
          computer.<br>
          Al momento lo strumento è in via di sviluppo e disponibile esclusivamente nella sezione di creazione articolo
          dei giornalisti.<br>
          Se non vengono caricati files, come nella versione precedente, l'articolo verrà visualizzato senza immagine di
          copertina.
        </div>
        <!-- <div class="form-group">
          <label for="cover">Immagine di Copertina</label>
          <input type="text" class="form-control" id="cover" name="cover"
            placeholder="Inserisci un URL di un'immagine" />
          <small id="coverHelp" class="form-text text-muted">L'immagina sarà presente in tutte le visuali
            dell'articolo</small>
        </div> -->
        <!-- Dropzone -->
        <label for="desc">Immagine di Copertina</label>
        <div class="u-dropzone" data-options='{
          "url": "/upload/s3/uploadone",
          "thumbnailWidth": 100,
          "thumbnailHeight": 100,
          "previewTemplate": "#dropzoneItemTemplate"
          }' id="caricaImmagine">
          <div id="dropzoneItemTemplate" style="display: none;">
            <div class="col h-100 mb-5">
              <div class="dz-preview dz-file-preview">
                <div class="d-flex justify-content-end dz-close-icon">
                  <small class="fa fa-times" data-dz-remove></small>
                </div>
                <div class="dz-details media">
                  <div class="dz-img">
                    <img class="img-fluid" data-dz-thumbnail>
                  </div>
                  <div class="media-body">
                    <span class="dz-filename">
                      <span class="dz-title" data-dz-name></span>
                    </span>
                    <div class="dz-size" data-dz-size></div>
                  </div>
                </div>
                <div class="dz-progress progress" style="height: 4px;">
                  <div class="dz-upload progress-bar bg-success" role="progressbar" style="width: 0" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
                </div>
                <div class="d-flex align-items-center">
                  <div class="dz-success-mark">
                    <span class="fa fa-check-circle"></span>
                  </div>
                  <div class="dz-error-mark">
                    <span class="fa fa-times-circle"></span>
                  </div>
                  <div class="dz-error-message">
                    <small data-dz-errormessage></small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="dz-message">
            <div class="mb-4">
              <span class="d-block h5 mb-1">Seleziona un'immagine da caricare</span>
              <span class="d-block text-secondary mb-1">oppure</span>
              <span class="d-block">Trascinala nell'area tratteggiata</span>
            </div>
            <span class="btn btn-sm btn-primary">Sfoglia Documenti</span>
          </div>
        </div>
        <!-- End Dropzone -->
        <input type="text" name="cover" id="imgInputField" value="" hidden>

        <hr class="my-5">

        <div class="form-group">
          <label for="desc">Descrizione</label>
          <input type="text" class="form-control" id="desc" name="desc"
            placeholder="Inserisci una breve descrizione dell'articolo" />
          <small id="descHelp" class="form-text text-muted">Questa breve descrizione verrà posta nella visuale compatta
            degli
            articoli nella pagina Home e della Rubrica</small>
        </div>

        <hr class="my-5">

        <div class="form-group" id="category">
          <!-- WORKAROUND -->
          <input type="text" style="display: none;" name="category" value="<%= cats[0].name %>" id="category_input_sel">
          <!-- END WORKAROUND -->
          <label for="category">Categoria</label>
          <!-- Account Sidebar Toggle Button -->
          <div class="mt-1">
            <a id="sidebarNavToggler" class="btn btn-sm btn-secondary" href="javascript:;" role="button"
              aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
              data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
              data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
              data-unfold-duration="500">
              Seleziona <i class="fas fa-arrow-right" style="margin-left: 0.2em;"></i>
            </a>
          </div>

          <!-- End Account Sidebar Toggle Button -->

          <!-- Sidebar Navigation -->
          <aside id="sidebarContent" class="u-sidebar" aria-labelledby="sidebarNavToggler">
            <div class="u-sidebar__scroller">
              <div class="u-sidebar__container">
                <div class="u-header-sidebar__footer-offset">
                  <!-- Toggle Button -->
                  <div class="d-flex align-items-center pt-4 px-7">
                    <button type="button" class="close ml-auto" aria-controls="sidebarContent" aria-haspopup="true"
                      aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
                      data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
                      data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                      data-unfold-duration="500">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <!-- End Toggle Button -->

                  <!-- Content -->
                  <div class="js-scrollbar u-sidebar__body">
                    <div class="u-sidebar__content u-header-sidebar__content">
                      <h4 class="h5 mb-6"><i class="fas fa-folder-open" style="margin-right:0.3em"></i>Categorie e
                        Rubriche</h4>
                      <!-- ------ to render -->
                      <div class="mCustomScrollbar" data-mcs-theme="dark">

                        <% cats.forEach((cat, i) => {  %>
                        <div class="card mb-3 custom-control custom-radio">
                          <div class="card-body">
                            <!-- WORKAROUND
                            Questo è probabilmente il peggior pezzo di codice abba mai scritto, 
                            ma altrimenti non so come aggiustare sta roba.... Boh
                            -->
                            <script>
                              function set_cat(e) {
                                console.log(e.target.dataset.cat)
                                $('#category_input_sel').val(e.target.dataset.cat)
                              }
                            </script>
                            <input type="radio" class="custom-control-input" id="stylishRadio<%= i %>"
                              name="category_gui" onchange="set_cat(event)" data-cat="<%= cat.name %>">
                            <!-- END WORKAROUND -->
                            <label class="custom-control-label" for="stylishRadio<%= i %>">
                              <h6><%= cat.name %></h6>
                            </label>
                          </div>
                        </div>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                  <!-- End Content -->
                </div>

                <!-- Footer -->
                <footer class="u-sidebar__footer u-sidebar__footer--account">
                  <!-- <button type="button" class="btn btn-secondary mb-3 mt-3"
                        aria-controls="sidebarContent"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-unfold-event="click"
                        data-unfold-hide-on-scroll="false"
                        data-unfold-target="#sidebarContent"
                        data-unfold-type="css-animation"
                        data-unfold-animation-in="fadeInRight"
                        data-unfold-animation-out="fadeOutRight"
                        data-unfold-duration="500">
                  <span aria-hidden="true"> < Fatto</span>
              </button> -->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mb-5"><a class="text-muted" href="#"><span
                          class="d-none d-sm-inline-block" aria-controls="sidebarContent" aria-haspopup="true"
                          aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
                          data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
                          data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                          data-unfold-duration="500"><i class="fas fa-arrow-left" style="margin-right: 0.15em;"></i>
                          Prosegui con l'articolo</span>
                      </a></li>
                    <li class="list-inline-item link-muted"><a href="#"><i class="fas fa-info-circle"
                          style="margin-right: 0.3em;"></i>Non trovi una categoria?</a></li>
                  </ul>
                </footer>
                <!-- End Footer -->
              </div>
            </div>
          </aside>
          <!-- End Sidebar Navigation -->
        </div>

        <hr class="my-5">

        <div class="form-group">
          <label for="body">Corpo dell'Articolo</label>
          <div class="u-summernote-editor">
            <textarea id="body" class="js-summernote-editor" data-height="300" name="body"
              form="post_create"></textarea>
          </div>
        </div>



        <div class="form-group mb-6 space-top-1">
          <label for="tags" class="form-label">
            Tags
          </label>

          <!-- Tags Input -->
          <div class="u-tagsinput">
            <input id="tags" type="text" name="tags" data-role="tagsinput" />
          </div>
          <small id="tagsHelp" class="form-text text-muted"> <strong><i class="fas fa-exclamation"></i> Separa
              i tag con
              una virgola (No invio o tab) |
            </strong> Grazie a
            questi tag miglioreremo l'indicizzazione del tuo
            articolo
            nella dashboard dei lettori</small>
          <!-- End Tags Input -->
        </div>

        <hr class="my-5">

        <div class="form-group ">
          <label for="status" class="form-label">
            Tipologia Edizione
          </label>

          <div class="btn-group btn-group-toggle" data-toggle="buttons">

            <label class="btn btn-sm btn-secondary">
              <input type="radio" name="special" id="aggiorna" autocomplete="off" value="true" />
              <i class="fas fa-star"></i> Speciale
            </label>

            <label class="btn btn-sm btn-secondary active">
              <input type="radio" name="special" id="mantieni" autocomplete="off" value="false" checked />
              <i class="far fa-newspaper"></i> Standard
            </label>
          </div>
          <small id="tagsHelp" class="form-text text-muted mb-6">
            SPECIALE > I Post verranno contrassegnati da un badge 'Edizione Speciale' in tutti i loro formati<br>
            STANDARD > Nessuna modifica ai Post | <strong> default</strong>
          </small>
        </div>

        <div class="form-group ">
          <label for="status" class="form-label">
            Stato
          </label>

          <div class="btn-group btn-group-toggle" data-toggle="buttons">

            <label class="btn btn-sm btn-secondary">
              <input type="radio" name="status" id="option2" autocomplete="off" value="0" />
              <i class="fas fa-book-medical"></i> Pronto
            </label>
            <label class="btn btn-sm btn-secondary">
              <input type="radio" name="status" id="option3" autocomplete="off" value="-1" checked />
              <i class="fas fa-pencil-alt"></i> Bozza
            </label>
          </div>
        </div>
        <small id="tagsHelp" class="form-text text-muted mb-6">PRONTO> L'articolo è pronto per la pubblicazione. <br>
          BOZZA > L'articolo è in stesura. | <strong>
            default</strong> </small>

        <hr class="hr mb-6 mt-6">

        <!-- Buttons -->
        <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">
          <i class="fas fa-cloud-upload-alt"></i> Salva e Applica Stato
        </button>
  </form>
  <div class="row ml-0 mt-4">
    <a href="/admin/posts" class="link-muted">
      <i class="fas fa-arrow-left" style="margin-left: 0.2em;"></i> Torna Alla Dashboard</a>
  </div>


  <!-- End Buttons -->
  </div>
  </div>
</main>
<%- include ('partials/footer') %>