<%- include ('partials/header') %>
<main id="content" role="main">
    <div class="bg-primary">
        <!-- Breadcrumb Section -->
        <div class="container space-top-1 pb-3">
            <div class="row">
                <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                    <div
                        class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                        <!-- Breadcrumb -->
                        <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                            <li class="breadcrumb-item">
                                <a class="breadcrumb-link" href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="breadcrumb-link" href="/super">SuperUser</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="breadcrumb-link" href="/super/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Crea Categoria
                            </li>
                        </ol>
                        <!-- End Breadcrumb -->

                        <!-- Breadcrumb Nav Toggle Button -->
                        <div class="d-lg-none">
                            <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation" aria-expanded="false" aria-controls="breadcrumbNavBar"
                                data-toggle="collapse" data-target="#breadcrumbNavBar">
                                <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                    <span class="u-hamburger__inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- End Breadcrumb Nav Toggle Button -->
                    </div>
                </div>

                <div class="col-lg-7 order-lg-1">
                    <!-- User Info -->
                    <div class="media d-block d-sm-flex align-items-sm-center">
                        <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
                            <img class="img-fluid rounded-circle" src="<%= user.pic %>" alt="Image Description" />
                            <span
                                class="badge badge-md badge-outline-success badge-pos badge-pos--bottom-right rounded-circle">
                                <span class="fas fa-check"></span>
                            </span>
                        </div>
                        <div class="media-body">
                            <h1 class="h3 text-white font-weight-medium mb-1">
                                <%= user.name %>
                            </h1>
                            <span class="d-block text-white-70"><i class="fas fa-at" style="margin-right:0.3em;"></i><%=
                user.email %></span>
                            <span class="d-block text-white-70"><i class="fas fa-code-branch"
                                    style="margin-right:0.3em;"></i><%= user._id %></span>
                        </div>
                    </div>
                    <!-- End User Info -->
                </div>
            </div>
        </div>
    </div>
    <form action="/super/cats/new" method="POST" id="post_create">
        <!-- End Breadcrumb Section -->
        <div class="bg-light">
            <div class="container space-2">
                <div class="form-group">
                    <label for="name">NOME</label>
                    <input type="text" class="form-control" id="name" name="name"
                        placeholder="Inserisci il nome della categoria..." value="" />
                    <small id="titleHelp" class="form-text text-muted">Verrà visualizzato come categoria negli articoli
                        e nella pagina di creazione e modifica post</small>
                </div>

                <div class="form-group">
                    <label for="email">DESCRIZIONE</label>
                    <input type="text" class="form-control" id="desc" name="desc"
                        placeholder="Inserisci la descrizione della categoria..." value="" />
                    <small id="coverHelp" class="form-text text-muted">Verrà utilizzata per comunicare alla redazione
                        quali articoli dovrebbero utilizzare questa categoria</small>
                </div>



                <div class="form-group mt-4">
                    <label for="status" class="form-label">
                        Stato
                    </label>

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                        <label class="btn btn-sm btn-secondary active">
                            <input type="radio" name="status" id="aggiorna" autocomplete="off" value="1" checked />
                            <i class="fas fa-globe"></i> Online
                        </label>

                        <label class="btn btn-sm btn-secondary">
                            <input type="radio" name="status " id="mantieni" autocomplete="off" value="-1" />
                            <i class="fas fa-pencil-alt"></i> Bozza
                        </label>
                    </div>
                    <small id="tagsHelp" class="form-text text-muted mb-6">ONLINE > Visibile a tutta la redazione e sui
                        post che già la possiedono come categoria <br>
                        STANDARD > Non visibile in nessun formato | <strong> default</strong></small>


                </div>

                <hr class="hr mb-6 mt-6">

                <!-- Buttons -->
                <div class="row ml-0 mb-4">
                    <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">
                        <i class="fas fa-cloud-upload-alt"></i> Salva e Applica Ruolo
                    </button>
    </form>

    </div>

    <a href="/super/cats" class="link-muted">
        <i class="fas fa-arrow-left" style="margin-left: 0.2em;"></i> Torna Alle Categorie </a>
    </div>
    </div>
</main>
<%- include ('partials/footer') %>