<%- include ('partials/header') %>
<main id="content" role="main">
  <!-- Hero Section -->
  <div class="container space-bottom-1 space-top-2">
    <%- messages('message', locals) %>
    <div class="w-md-80 w-lg-75 text-center mx-md-auto">
      <div class="mb-5">
        <h1 class="display-4 font-size-md-down-5 font-weight-semi-bold">
          Notizie &amp; Articoli
        </h1>
        <p class="lead font-weight-normal">
          #TODO:Inserire testi di sottotitolo ove necessario
        </p>
      </div>

      <!-- Form -->
      <!-- <form class="w-lg-75 mx-lg-auto">
        <div class="d-flex align-items-center">
          <label class="sr-only" for="signupSrEmail">Search Front blog</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="search"
              id="signupSrEmail"
              placeholder="Search Front blog"
              aria-label="Search Front blog"
            />
          </div>
          <button type="submit" class="btn btn-primary text-nowrap ml-3">
            <span class="fas fa-search font-size-1 mr-2"></span> Search
          </button>
        </div>
      </form> -->
      <!-- End Form -->
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Blog Listing Section -->
  <div class="container space-1 space-bottom-lg-3">
    <div class="row">
      <div class="col-md-7 col-lg-8 mb-7 mb-md-0">
        <!-- End Blog Card -->

        <% posts.forEach((post) => { %>
        <% let test = null; %>
        <% if (post.special) { %>
        <%  test = ' border-bottom-3 border-warning' %>
        <% } %>

        <% if(post.cover || post.cover.length > 2) { %>
        <article class="card shadow mb-5 transition-3d-hover <%= test %>">
          <img id="postCover" style="height:25em;object-fit: cover;" class="card-img-top postCover"
            src="<%= post.cover %>" alt="L'immagine al momento non risulta disponibile" />

          <div class="card-body  p-5">
            <a class="d-inline-block text-secondary font-weight-medium text-uppercase small mb-2"
              href="/posts/categories/<%= post.category %>"><%= post.category %></a>



            <h2 class="h5 font-weight-medium">
              <a href="/posts/<%= post._id %>"><%= post.title %></a>
              <% if (post.special) { %>
              <a href="/posts/categories/specials">
                <span class="badge badge-warning text-white ml-1"><i class="fas fa-star mr-1"></i>Edizione
                  Speciale</span></a>
              <% } %>
            </h2>

            <p>
              <%= post.desc %>
            </p>

            <div class="media align-items-center pt-5">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip"
                data-placement="top" title="<%= post.author %>">
                <img class="img-fluid rounded-circle" src="<%= post.authorPic %>" alt="Image Description" />
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">

                <% let minuti = ('0'+post.edited.getMinutes()).slice(-2) %>

                <%= post.edited.toLocaleDateString("it-IT") %> @ <%= post.edited.getHours() %>:<%= minuti %>
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
        <% } else { %>
        <article class="card shadow mb-5 transition-3d-hover <%= test %>">
          <div class="card-body  p-5">
            <a class="d-inline-block text-secondary font-weight-medium text-uppercase small mb-2"
              href="/posts/categories/<%= post.category %>"><%= post.category %></a>



            <h2 class="h5 font-weight-medium">
              <a href="/posts/<%= post._id %>"><%= post.title %></a>
              <% if (post.special) { %>
              <a href="/posts/categories/specials">
                <span class="badge badge-warning text-white ml-1"><i class="fas fa-star mr-1"></i>Edizione
                  Speciale</span></a>
              <% } %>
            </h2>

            <p>
              <%= post.desc %>
            </p>

            <div class="media align-items-center pt-5">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip"
                data-placement="top" title="<%= post.author %>">
                <img class="img-fluid rounded-circle" src="<%= post.authorPic %>" alt="Image Description" />
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">

                <% let minuti = ('0'+post.edited.getMinutes()).slice(-2) %>

                <%= post.edited.toLocaleDateString("it-IT") %> @ <%= post.edited.getHours() %>:<%= minuti %>
              </div>
            </div>
          </div>
        </article>
        <% }%>
        <!-- Blog Card -->


        <% }) %>

        <!-- End Blog Card -->

        <!-- Blog Card -->

        <!-- End Blog Card -->

        <!-- Sticky Block End Point -->
        <div id="stickyBlockEndPoint"></div>

        <div class="space-bottom-2"></div>


      </div>

      <div id="stickyBlockStartPoint" class="col-md-5 col-lg-4">
        <div class="js-sticky-block pl-lg-4" data-parent="#stickyBlockStartPoint" data-sticky-view="md"
          data-start-point="#stickyBlockStartPoint" data-end-point="#stickyBlockEndPoint" data-offset-top="16"
          data-offset-bottom="16">
          <h3 class="h6 font-weight-semi-bold mb-4">Dalla Redazione</h3>

          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-5">
            <li>
              <a class="list-group-item list-group-item-action d-flex align-items-center" href="/posts">
                Tutti i post
                <span class="badge bg-soft-secondary badge-pill ml-2"><%= posts.length %></span>
                <small class="fas fa-angle-right ml-auto"></small>
              </a>
            </li>

            <li>
              <a class="list-group-item list-group-item-action d-flex align-items-center" href="#">
                Consigliati
                <small class="fas fa-angle-right ml-auto"></small>
              </a>
            </li>

            <li>
              <a class="list-group-item list-group-item-action d-flex align-items-center" href="#">
                Novità
                <small class="fas fa-angle-right ml-auto"></small>
              </a>
            </li>
          </ul>
          <!-- End List Group -->

          <div class="border-top pt-5 mt-5">
            <h3 class="h6 font-weight-semi-bold mb-4">Stories</h3>

            <!-- Blog Card -->
            <article>
              <div class="row justify-content-between">
                <div class="col-6">
                  <a class="d-inline-block text-muted font-weight-medium text-uppercase small" href="#">Product</a>
                  <h4 class="h6 font-weight-medium mb-0">
                    <a href="single-article.html">InVision design forward fund</a>
                  </h4>
                </div>

                <div class="col-5">
                  <img class="img-fluid" src="../../assets/img/500x280/img18.jpg" alt="Image Description" />
                </div>
              </div>
            </article>
            <!-- End Blog Card -->

            <!-- Blog Card -->
            <article class="border-top pt-5 mt-5">
              <div class="row justify-content-between">
                <div class="col-6">
                  <a class="d-inline-block text-muted font-weight-medium text-uppercase small" href="#">Business</a>
                  <h4 class="h6 font-weight-medium mb-0">
                    <a href="single-article.html">What CFR really is about</a>
                  </h4>
                </div>

                <div class="col-5">
                  <img class="img-fluid" src="../../assets/img/500x280/img13.jpg" alt="Image Description" />
                </div>
              </div>
            </article>
            <!-- End Blog Card -->

            <!-- Blog Card -->
            <article class="border-top pt-5 mt-5">
              <div class="row justify-content-between">
                <div class="col-6">
                  <a class="d-inline-block text-muted font-weight-medium text-uppercase small" href="#">Business</a>
                  <h4 class="h6 font-weight-medium mb-0">
                    <a href="single-article.html">Enjoy $1,000 worth of perks with Front for Business</a>
                  </h4>
                </div>

                <div class="col-5">
                  <img class="img-fluid" src="../../assets/img/500x280/img19.jpg" alt="Image Description" />
                </div>
              </div>
            </article>
            <!-- End Blog Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Blog Listing Section -->

  <!-- Subscribe Section -->

  <!-- End Subscribe Section -->
</main>
<%- include ('partials/footer') %>