<%- include ('partials/header') %>
<main id="content" role="main">
    <!-- Hero Section -->
    <div class="container space-2">
        <div class="w-md-80 w-lg-75 text-center mx-md-auto">
            <div class="space-bottom-2">
                <h1 class="display-4 font-size-md-down-5 font-weight-semi-bold">
                    La Redazione
                </h1>
                <p class="lead font-weight-normal">
                    Chi c'è dietro al nostro giornalino...
                </p>
            </div>
        </div>

        <div class="grid mx-n2 justify-content-between" data-masonry='{ "itemSelector": ".grid-item"}'>

            <!-- TO RENDER -->
            <% admins.forEach((admin) => { %>
            <div class="grid-item col-sm-6 col-lg-3 px-2 mb-3">
                <!-- Team -->
                <div class="card shadow transition-3d-hover p-4">
                    <div class="u-lg-avatar mb-4">
                        <img class="img-fluid rounded-circle" src="<%= admin.pic %>" alt="Image Description">
                    </div>

                    <small class="d-block text-secondary text-uppercase mb-1"><%= admin.task %></small>
                    <h4 class="h5 text-lh-sm"><%= admin.name %></h4>

                    <p class="font-size-1"><%= admin.desc %></p>
                    <!-- End Team -->
                </div>

            </div>
            <% }) %>
            <!-- END TO RENDER -->





        </div>
    </div>
</main>
<script>
    $('.grid').masonry({
        // options
        itemSelector: '.grid-item',
        columnWidth: 200
    });
</script>
<%- include ('partials/footer') %>