<%- include ('partials/header') %>
<div class="container space-1">
  <div class="w-lg-60 mx-lg-auto">
    <div class="container mb-4">
      <div class="row justify-content-between">
        <h1 class="h2 font-weight-medium">
          <%= post.title %>
        </h1>
        <span class="col-sm-4 ">
          <ul class="pagination">
            <li class="page-item">
              <!-- #TODO: corregere layout pulsante 'torna alla home'-->
              <a class="page-link" href="/" aria-label="Torna alla Home">
                <span aria-hidden="true">&laquo;</span>
                <span class="d-none d-sm-inline-block ml-1"
                  >Torna alla Home</span
                >
              </a>
            </li>
          </ul>
        </span>
      </div>
    </div>

    <!-- Author -->
    <div class="border-top border-bottom py-4 mb-5">
      <div class="row align-items-md-center">
        <div class="col-md-7 mb-5 mb-md-0">
          <div class="media align-items-center">
            <div class="u-avatar">
              <img
                class="img-fluid rounded-circle"
                src="<%= post.authorPic %>"
                alt="Image Description"
              />
            </div>
            <div class="media-body font-size-1 ml-3">
              <span class="h6 font-weight-medium"
                ><a href="#"><%= post.author %></a>
              </span>
              <span class="d-block text-muted"
                ><%= post.edited.toLocaleDateString("it-IT") %></span
              >
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="d-md-flex justify-content-md-end align-items-md-center">
            <h2
              class="text-secondary font-size-1 font-weight-medium text-uppercase mb-0"
            >
              Condividi >
            </h2>

            <a
              class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2"
              href="#"
            >
              <span class="fab fa-facebook-f btn-icon__inner"></span>
            </a>
            <a
              class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2"
              href="#"
            >
              <span class="fab fa-twitter btn-icon__inner"></span>
            </a>
            <a
              class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2"
              href="#"
            >
              <span class="fab fa-instagram btn-icon__inner"></span>
            </a>
            <a
              class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2"
              href="#"
            >
              <span class="fab fa-telegram btn-icon__inner"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Author -->

    <p>
      <%- post.body %>
    </p>
  </div>

  <div class="w-lg-60 mx-lg-auto">
    <!-- Badges -->
    <div class="mt-5">
      <h2
        class="text-secondary font-size-1 font-weight-medium text-uppercase mb-2"
      >
        Tags dell'articolo
      </h2>
      <% post.tags.forEach((item) => { %>
      <span class="d-inline-block mr-1 mb-2"
        ><a class="btn btn-xs btn-soft-secondary" href="/posts/tag/<%= item %>"
          ><%= item %></a
        ></span
      >
      <% }) %>
    </div>
    <div
      class="card bg-img-hero bg-primary text-white text-center p-5 my-4"
      style="background-image: url(../../assets/svg/components/abstract-shapes-11.svg);"
    >
      <h4 class="h5 mb-3">
        Ti piace ciò che hai letto?
      </h4>

      <!-- Form -->
      <a
        class="btn btn-sm btn-white transition-3d-hover"
        href="/user/auth/google"
      >
        <i class="fab fa-google" style="margin-right:0.2em;"></i>
        Registrati con Google
      </a>

      <!-- End Form -->
      <p class="text-white mt-4 mb-0">
        Commenta, aggiungi gli articoli ai preferiti e molto altro...
      </p>
    </div>
    <!-- End Badges -->

    <!-- Share -->

    <!-- End Share -->

    <!-- Author -->
    <div class="media align-items-center border-top border-bottom py-5 my-8">
      <div class="u-lg-avatar">
        <img
          class="img-fluid rounded-circle"
          src="<%= post.authorPic %>"
          alt="Image Description"
        />
      </div>
      <div class="media-body ml-3">
        <small class="d-block text-muted text-uppercase">Scritto da</small>
        <h3 class="h5 font-weight-medium mb-0">
          <a href="blog-profile.html"><%= post.author %></a>
        </h3>
        <p class="mb-0">
          #TODO: Inserire descrizione autore
        </p>
      </div>
    </div>
    <!-- End Author -->
  </div>
  <%- include ('partials/footer') %>
</div>
